	.header {
		background: -webkit-linear-gradient(top, #5d6c0a -1%,#e0eaa8 0%,#5d6c0a 0%,#738319 50%,#a9b757 100%);
		overflow: hidden
		
	}
	.navigation {
		float: left;
		padding: 0px 30px 0px 30px;
		margin: 0px 0px 10px 10px;
		border: 5px;
		border-style: solid;
		border-radius: 30px;
		text-align: center;
		text-decoration: none;
		background-color: green

	}
	.bodis {
		background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%);
		display: inline-block;
		width: 1000px;
		height: 1000px

	}

	h1 {
		font-family: 'Lobster', cursive;
		font-size: 50px
	}

	body {
		width: 1000px
	}

	img {
		width: 400px;
		height: 600px;
		border-radius: 20px
	}

	iframe {
		width: 420px;
		height: 315px
	}